/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #77be62;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

    .sidebar.open {
        width: 250px;
    }

    .sidebar .logo-details {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
    }

        .sidebar .logo-details .icon {
            opacity: 0;
            transition: all 0.5s ease;
        }

        .sidebar .logo-details .logo_name {
            color: black;
            font-size: 20px;
            font-weight: 600;
            opacity: 0;
            transition: all 0.5s ease;
        }

    .sidebar.open .logo-details .icon,
    .sidebar.open .logo-details .logo_name {
        opacity: 1;
    }

    .sidebar .logo-details #btn {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 22px;
        transition: all 0.4s ease;
        font-size: 23px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .sidebar.open .logo-details #btn {
        text-align: right;
    }

    .sidebar i {
        color: #11101d;
        height: 60px;
        min-width: 50px;
        font-size: 25px !important;
        text-align: center;
        line-height: 60px;
    }

    .sidebar .nav-list {
        margin-top: 20px;
        height: 100%;
    }

    .sidebar li {
        position: relative;
        margin: 8px 0;
        list-style: none;
    }

        .sidebar li .tooltip {
            position: absolute;
            top: -20px;
            left: calc(100% + 15px);
            z-index: 3;
            background: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: 0s;
        }

        .sidebar li:hover .tooltip {
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s ease;
            top: 50%;
            transform: translateY(-50%);
        }

    .sidebar.open li .tooltip {
        display: none;
    }

    .sidebar input {
        font-size: 15px;
        color: #FFF;
        font-weight: 400;
        outline: none;
        height: 50px;
        width: 100%;
        width: 50px;
        border: none;
        border-radius: 12px;
        transition: all 0.5s ease;
        background: #1d1b31;
    }

    .sidebar.open input {
        padding: 0 20px 0 50px;
        width: 100%;
    }

    .sidebar li a {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
    }

        .sidebar li a:hover {
            background: #11101d;
        }

        .sidebar li a .links_name {
            color: #11101d;
            font-size: 16px;
            font-weight: 500;
            white-space: nowrap;
            opacity: 0;
            pointer-events: none;
            transition: 0.4s;
        }

    .sidebar.open li a .links_name {
        opacity: 1;
        pointer-events: auto;
    }

    .sidebar li a:hover .links_name,
    .sidebar li a:hover i {
        transition: all 0.5s ease;
        color: #fff;
    }

    .sidebar li i {
        height: 50px;
        line-height: 50px;
        border-radius: 12px;
    }


.home-section {
    position: relative;
    background: #fff8e2;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    padding-top:50px;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

.ipaddress {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    font-size: 18px;
   
}

/* Table Styles */
.fl-table {
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    margin-top:20px;
    margin-left:50px;

}

    .fl-table td, .fl-table th {
        text-align: center;
        padding: 5px;
    }

    .fl-table td {
        border: 1px solid #cfcece;
        font-size: 18px;
    }

    .fl-table thead th {
        color: #ffffff;
        background: green;
    }




    .fl-table tr:nth-child(even) {
        background: #ebebeb;
    }

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
        
    }
}
caption{
    font-size:30px;
    padding-bottom:5px;
}

.create {
    margin-left: 50px;
    margin-bottom: 10px;
}

.create-btn {
    background: #ff9900;
    background: linear-gradient(180deg, #ffac2f, #ff9900);
    padding: 10px 0;
    border:.5px solid black;
    cursor:pointer;
  border-radius:5px;
}
    .create-btn:hover {
        background: #f69709;
        background: linear-gradient(180deg, #f5a122, #fc6d0e);
    }

.anchor {
    text-decoration: none;
    color: #232528;
    font-weight: 500;
    font-size: large;
    padding: 0 20px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.bx-user-plus, .bx-edit {
    font-size: 30px !important;
    font-weight: 500 !important;
}
.primary-btn, .cancel-btn {
    margin-top: 12px;
    padding: 6px 8px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    .cancel-btn:hover {
        background-color: forestgreen;
    }


.cancel-btn {
    margin-left: 10px;
    background-color: #6c757d;
    text-decoration: none;
    padding: 7px 8px;
}

input[type=checkbox] {
    accent-color: #006400;
}

.custom{

    display:flex;
    align-items:center;
    gap:14px;
    
}

.input-change {
    height: 40px;
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding-left: 5px;
    font-size: 18px
}
.highlight {
    background-color: yellow;
}
.search-box{
   
}

.myInputC {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    border: 2px solid;
    margin-top: 20px;
}
